// border
.border-radius-left-lg {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.border-radius-right-lg {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

@include media-breakpoint-up(sm) {
  .border-sm-primary-300 {
    border: 1px solid $primary-300;
  }
}

// list style
.line-list-style {
  li::marker {
    content: "｜";
  }
}

// background
.bg-image-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// 特殊 spacer
.mt-neg-15 {
  margin-top: -4rem;
}

// letter spacing
.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-2 {
  letter-spacing: 0.05em;
}

@include media-breakpoint-up(lg) {
  .letter-spacing-lg-1 {
    letter-spacing: 0.1em;
  }

  .letter-spacing-lg-2 {
    letter-spacing: 0.05em;
  }
}

.list-item-lh-1 {
  li {
    display: flex;
    line-height: 30px;
  }
}

// delete line
.del-line {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.4em;
    height: 1px;

    background-color: $neutral-300;
  }
}
