// border
.border-radius-left-lg {
  border-top-left-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.border-radius-right-lg {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}

@include media-breakpoint-up(sm) {
  .border-sm-primary-300 {
    border: 1px solid $primary-300;
  }
}
// border bottom
@include media-breakpoint-up(sm) {
  .border-lg-bottom {
    border-bottom: 1px solid $neutral-300;
  }
}

// background
.bg-image-center {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// 特殊 spacer
.mt-neg-15 {
  margin-top: -4rem;
}

// letter spacing
.letter-spacing-1 {
  letter-spacing: 0.1em;
}

.letter-spacing-2 {
  letter-spacing: 0.05em;
}

@include media-breakpoint-up(lg) {
  .letter-spacing-lg-1 {
    letter-spacing: 0.1em;
  }

  .letter-spacing-lg-2 {
    letter-spacing: 0.05em;
  }
}

// 裝飾用 line
.del-line {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.4em;
    height: 1px;

    background-color: $neutral-300;
  }
}

.line {
  display: inline-block;
  flex-grow: 1;
  height: 1px;
  background-color: $neutral-200;
}

.debug,
.debug * {
  outline: 1px solid lightseagreen !important;
}
