<section class="container py-12 py-lg-16 py-sm-14">
  <!-- row 1 -->
  <div class="row gy-8 gy-sm-12 mb-8 mb-lg-14 mb-sm-12">
    <div class="col-lg-6 px-0 px-sm-4">
      <div class="rounded-1 overflow-hidden h-100">
        <picture>
          <source
            media="(min-width: 992px)"
            srcset="../assets/images/about-1.png"
          />
          <img
            src="../assets/images/about-1-sm.png"
            alt="article banner"
            class="w-100 h-100 object-fit-cover"
          />
        </picture>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="px-4 px-lg-12">
        <div class="mb-6 mb-lg-11">
          <h3 class="newsreader h4 text-gray-600 mb-4 fs-lg-2">Vivre</h3>
          <p class="text-gray-400">
            vivre
            這個品牌名稱源自法語,意為"生活"、"活著"。它象徵著我們對於高品質生活的熱愛與追求。vivre
            旨在成為一個分享美好生活體驗、發掘生活質感的平台。
          </p>
        </div>
        <div>
          <h4 class="fs-6 fw-bold text-gray-600 mb-4">我們的品牌價值</h4>
          <ul class="d-grid gap-2 text-gray-400 small-dot-list-style">
            <li>熱愛生活,好奇心永存</li>
            <li>品味獨具,講究生活質感</li>
            <li>分享真實生活,啟發生活靈感</li>
            <li>推廣慢生活哲學,注重內在修為</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- row 2 -->
  <div class="row gy-8 gy-sm-12 flex-wrap-reverse">
    <div class="col-lg-6">
      <div class="px-4 d-grid gap-6 gap-lg-11 px-lg-12">
        <h3 class="h4 text-gray-600 fs-lg-2">風格特色</h3>
        <p class="text-gray-400">
          vivre所展現的風格特色,可以用知性、親和、用心、優雅與獨特這些詞語來概括。我們講求內容的原創性與探索精神,不跟風追隨潮流話題,而是真誠分享獨特的生活視角與體驗。無論是旅行、美食、居家、時尚等生活領域,我們都希望能夠呈現出與眾不同、縝密入微、內外兼具的見解,給讀者帶來嶄新的感受和啟迪。
        </p>
        <p class="text-gray-400">
          無論您是對美食、旅行、居家生活還是時尚風尚有獨到的見解和體會,只要切合vivre的價值理念與風格調性,我們都熱烈歡迎您加入這個平台,與我們一起分享和交流生活的點點滴滴。
        </p>
      </div>
    </div>
    <div class="col-lg-6 px-0 px-sm-4">
      <div class="rounded-1 overflow-hidden h-100">
        <picture>
          <source
            media="(min-width: 992px)"
            srcset="../assets/images/about-2.png"
          />
          <img
            src="../assets/images/about-2-sm.png"
            alt="article banner"
            class="w-100 h-100 object-fit-cover"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
