<section class="bg-primary-200 py-12">
  <div class="container px-13">
    <div class="row">
      <div class="col-lg-4 h4 fs-lg-2 mb-8 mb-lg-0 text-center text-lg-start">
        大事紀
      </div>
      <div class="col-lg-8 d-grid gap-16">
        <!-- 2020 -->
        <div class="row gy-8 gy-lg-0">
          <!-- 年份框框 -->
          <div class="col-lg-2 ps-lg-0">
            <div
              class="d-inline-block bg-primary-400 text-gray-100 h6 fw-bold p-4 fs-lg-4"
            >
              2020
            </div>
          </div>
          <!-- 紀事細項 -->
          <div class="col-lg-10 d-grid gap-8">
            <!-- 五月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">5</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  創辦人茱麗葉、亞歷山大和幾個好友在巴黎開設 vivre
                  生活部落格,紀錄分享他們對美好生活的想法和體驗。
                </p>
              </div>
            </div>
            <!-- 十月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">10</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  部落格內容和讀者人數逐漸累積,決定成立 vivre
                  品牌,開發更多元豐富的內容。
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2021 -->
        <div class="row gy-8 gy-lg-0">
          <!-- 年份框框 -->
          <div class="col-lg-2 ps-lg-0">
            <div
              class="d-inline-block bg-primary-400 text-gray-100 h6 fw-bold p-4 fs-lg-4"
            >
              2021
            </div>
          </div>
          <!-- 紀事細項 -->
          <div class="col-lg-10 d-grid gap-8">
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">3</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  vivre網站正式上線,除了原創文字內容,還加上了視訊、音訊等多媒體形式。
                </p>
              </div>
            </div>
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">7</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  vivre網站正式上線,除了原創文字內容,還加上了視訊、音訊等多媒體形式。
                </p>
              </div>
            </div>
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">12</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  總瀏覽人次突破 100 萬大關,獲得實體出版社青睞,出版 vivre
                  生活風格書籍。
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2022 -->
        <div class="row gy-8 gy-lg-0">
          <!-- 年份框框 -->
          <div class="col-lg-2 ps-lg-0">
            <div
              class="d-inline-block bg-primary-400 text-gray-100 h6 fw-bold p-4 fs-lg-4"
            >
              2022
            </div>
          </div>
          <!-- 紀事細項 -->
          <div class="col-lg-10 d-grid gap-8">
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">3</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  推出 vivre
                  生活風格線上課程,聘請各領域專家開設有深度的付費課程。
                </p>
              </div>
            </div>
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">8</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  vivre 舉辦首屆 vivre
                  生活節,線上線下同步展開,現場湧入大批品牌粉絲朋友。
                </p>
              </div>
            </div>
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">10</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  vivre 完成 A 輪融資,獲得知名風投資金青睞。
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- 2023 -->
        <div class="row gy-8 gy-lg-0">
          <!-- 年份框框 -->
          <div class="col-lg-2 ps-lg-0">
            <div
              class="d-inline-block bg-primary-400 text-gray-100 h6 fw-bold p-4 fs-lg-4"
            >
              2023
            </div>
          </div>
          <!-- 紀事細項 -->
          <div class="col-lg-10 d-grid gap-8">
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">1</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  vivre 宣布品牌願景"探索更美好的生活",並推出全新視覺形象。
                </p>
              </div>
            </div>
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">5</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  正式推出付費訂閱會員服務,提供高階獨家內容和會員優惠。
                </p>
              </div>
            </div>
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">9</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  首次評選年度" vivre
                  生活風格大獎",表彰在各領域具有開創性的人物及品牌。
                </p>
              </div>
            </div>
            <!-- 月 -->
            <div class="row">
              <div class="col-3 col-sm-2">
                <p class="h6 fw-bold text-gray-400">
                  <span class="fs-lg-4 newsreader">11</span>月
                </p>
              </div>
              <div class="col-9 col-sm-10 border-start border-gray-300">
                <p class="text-gray-600">
                  首次登場的" vivre
                  生活節沙龍"在全球主要城市同步舉行,線上線下吸引百萬人觀看。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
