<section class="mb-8 mb-lg-16">
  <div class="container px-0">
    <picture>
      <source
        media="(min-width: 576px)"
        srcset="../assets/images/about-banner.png"
      />
      <img
        src="../assets/images/about-banner-sm.png"
        alt="Vivre banner"
        class="w-100"
      />
    </picture>
  </div>
</section>
