<div class="d-none d-lg-grid gap-12">
  <!-- card 1 -->
  <div class="border-bottom border-light-gray pb-8">
    <div class="row">
      <div class="col-3">
        <img
          src="../assets/images/read-1.png"
          alt="私人島嶼的露營奇遇記"
          class="w-100 h-100 object-fit-cover"
        />
      </div>
      <div class="col-9">
        <div class="d-flex flex-column h-100">
          <div class="flex-grow-1">
            <h3 class="h5 mb-2">私人島嶼的露營奇遇記</h3>
            <p class="text-gray-400">
              遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜...
            </p>
          </div>
          <a
            href="#"
            role="button"
            class="btn btn-text w-100 text-end p-0 py-2 mt-auto"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- card 2 -->
  <div class="border-bottom border-light-gray pb-8">
    <div class="row">
      <div class="col-3">
        <img
          src="../assets/images/read-2.png"
          alt="城市野營日記"
          class="w-100 h-100 object-fit-cover"
        />
      </div>
      <div class="col-9">
        <div class="d-flex flex-column h-100">
          <div class="flex-grow-1">
            <h3 class="h5 mb-2">城市野營日記</h3>
            <p class="text-gray-400">
              終於!我實現了一個看似瘋狂的想法—在熟悉的城市裡野營一晚。說實話,一開始我也有點懷疑自己,畢竟眾目睽睽之下搭帳篷實在有點怪異。不過漸漸地,這股初時的侷促不安...
            </p>
          </div>
          <a
            href="#"
            role="button"
            class="btn btn-text w-100 text-end p-0 py-2 mt-auto"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- card 3 -->
  <div class="border-bottom border-light-gray pb-8">
    <div class="row">
      <div class="col-3">
        <img
          src="../assets/images/read-3.png"
          alt="和寵物去露營 - 大自然之旅"
          class="w-100 h-100 object-fit-cover"
        />
      </div>
      <div class="col-9">
        <div class="d-flex flex-column h-100">
          <div class="flex-grow-1">
            <h3 class="h5 mb-2">和寵物去露營 - 大自然之旅的...</h3>
            <p class="text-gray-400">
              說實話,一開始我有點擔心帶著我的狗狗露營會不會太麻煩。畢竟要照顧牠的飲食起居,還得注意牠的安全。不過這次經驗讓我徹底改觀了!出發前,我特意為狗狗準備了適當的...
            </p>
          </div>
          <a
            href="#"
            role="button"
            class="btn btn-text w-100 text-end p-0 py-2 mt-auto"
            >Read More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
