<section class="container px-0 py-xl-16 py-md-12">
  <div class="position-relative banner">
    <picture>
      <source media="(min-width: 576px)" srcset="../assets/images/banner.png" />
      <img
        src="../assets/images/banner-sm.png"
        alt="banner"
        class="w-100 h-100 object-fit-cover banner__img"
      />
    </picture>
    <div class="position-absolute w-100 ps-lg-14 px-4 mb-13 banner__title">
      <h2 class="text-white mb-lg-8 mb-7">
        <span class="fs-lg-5 fs-6 d-block mb-lg-4 mb-2"
          >獻給新世代的生活風格誌</span
        >
        <span class="fs-lg-1 fs-3 d-block">一起探索生活的無限可能</span>
      </h2>
      <a href="#" class="btn btn-secondary-200 fs-lg-5 fs-6" role="button"
        >馬上訂閱<i class="bi bi-arrow-right ms-4"></i
      ></a>
    </div>
  </div>
</section>
