<!-- button filled -->
<a href="#" class="btn btn-secondary-200" role="button">Green lg</a>
<a href="#" class="btn btn-secondary-200" role="button">Green sm</a>
<a href="#" class="btn btn-secondary-200 disabled" role="button"
  >Green disabled</a
>

<!-- gray button -->
<a href="#" class="btn btn-gray-100" role="button">Gray sm</a>
<a href="#" class="btn btn-gray-100 disabled" role="button">Gray sm</a>

<!-- text button -->
<a href="#" role="button" class="btn btn-text w-100 text-start p-0 py-2 mb-8"
  >Read More</a
>
<a href="#" role="button" class="btn btn-text py-8 disabled">Read More</a>

<!-- text button with icon -->
<a
  href="#"
  role="button"
  class="btn btn-text p-0 py-3 d-block text-center fs-lg-5 fs-6"
  >View more<i class="bi bi-arrow-right ms-4"></i
></a>

<!-- arrow icon -->
<i class="bi bi-arrow-right ms-4"></i>

<!-- Note -->
<!-- 
    a link 當作 button 的時候要加上 role="button" 是給 screen readers 可以分辨的
    當作 button 的判斷方式：當觸發是在當頁產生結果，而非跳轉至其他頁面，就可以使用 role button ，舉例：collapse 觸發的 button。
-->
