<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- theme card -->
      <a href="#" class="theme-card position-relative d-block pointer">
        <picture>
          <source
            media="(min-width: 992px)"
            srcset="../assets/images/theme-1.png"
          />
          <img
            src="../assets/images/theme-1-sm.png"
            alt="主題分類 - 城市漫遊者"
            class="w-100 object-fit-cover"
          />
        </picture>
        <h2
          class="position-absolute top-50 start-50 translate-middle text-white fs-6 fs-lg-5 fw-bold fw-lg-bolder"
        >
          城市漫遊者
        </h2>
      </a>
    </div>
    <div class="col-4">
      <!-- article card-->
      <div
        class="card border-0 border-bottom border-gray-500 rounded-0 article-card"
      >
        <picture>
          <source
            media="(min-width: 992px)"
            srcset="../assets/images/articles-1.png"
          />
          <img
            src="../assets/images/articles-1-sm.png"
            alt=""
            class="card-img-top mb-8 position-relative"
          />
        </picture>
        <div class="card-body p-0">
          <h5 class="card-title text-gray-500 mb-2">私人島嶼的露營奇遇記</h5>
          <p class="card-text mb-8">
            遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
          </p>
          <a
            href="#"
            role="button"
            class="btn btn-text w-100 text-start p-0 py-2 mb-8"
            >Read More</a
          >
        </div>
      </div>
    </div>
    <div class="col-4">
      <!-- article card - member -->
      <div
        class="card border-0 border-bottom border-gray-500 rounded-0 article-card"
      >
        <picture>
          <source
            media="(min-width: 992px)"
            srcset="../assets/images/articles-1.png"
          />
          <img
            src="../assets/images/articles-1-sm.png"
            alt=""
            class="card-img-top mb-8 position-relative"
          />
        </picture>
        <div class="card-body p-0">
          <h5 class="card-title text-gray-500 mb-2">
            窺探米其林三星主廚的絕密手藝
          </h5>
          <p class="card-text mb-8">
            遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
          </p>
          <div class="d-flex align-items-center justify-content-between mb-8">
            <a
              href="#"
              role="button"
              class="btn btn-text w-100 text-start p-0 py-2"
              >Read More</a
            >
            <span class="badge badge-primary-300 fs-6">會員專屬</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <!-- popular-article-card -->
      <div
        class="card border-0 border-bottom border-gray-500 rounded-0 popular-article-card"
      >
        <div class="card-body p-6">
          <h5 class="card-title fs-4 text-secondary-200 mb-4">酒精路跑地圖</h5>
          <ul class="list-unstyled card-text mb-6">
            <li class="mb-2">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
            <li class="mb-2">｜你要的調酒師在這裡！五月全台酒...</li>
            <li>｜台南老宅手工酒藏,尋味百年人文釀意</li>
          </ul>
          <picture>
            <source
              media="(min-width: 992px)"
              srcset="../assets/images/articles-1.png"
            />
            <img
              src="../assets/images/articles-1-sm.png"
              alt=""
              class="card-img-top mb-6 position-relative"
            />
          </picture>
          <div class="d-flex align-items-center gap-3 flex-wrap mb-6">
            <a href="#"
              ><span class="badge badge-primary-300">#夜貓專屬</span></a
            >
            <a href="#"
              ><span class="badge badge-primary-300">#barhopping</span></a
            >
            <a href="#"
              ><span class="badge badge-primary-300">#全台酒吧</span></a
            >
          </div>
          <a href="#" role="button" class="btn btn-text d-flex gap-4 p-0 py-3">
            View more<i class="bi bi-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- style project cards -->
<div
  class="card position-relative rounded-2 bg-image-center style-project-card"
  style="background-image: url(../assets/images/projects-3.png)"
>
  <div class="card-left-top-tags">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-caret-right-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
      />
    </svg>
    <span>人氣行程</span>
  </div>
  <a href="#" class="card-bottom-linear-link mt-auto"
    ><span>親子露營要帶什麼？</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="currentColor"
      class="bi bi-arrow-right fs-4"
      viewBox="0 0 16 16"
    >
      <path
        fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
      />
    </svg>
  </a>
</div>
