<footer>
  <div class="container border-top border-gray-300 py-7 py-lg-8">
    <p
      class="text-center fs-7 fw-light fs-lg-6 fw-lg-normal text-primary-400 letter-spacing-1 letter-spacing-lg-2"
    >
      ©Vivre 2024 All right Reserved
    </p>
  </div>
</footer>
