<section class="container py-13 py-lg-16">
  <!-- title -->
  <div class="d-flex justify-content-between mb-8 mb-lg-12">
    <h2 class="h4 fs-lg-2">品味生活</h2>
    <div class="d-lg-flex d-none align-items-center gap-7">
      <div
        class="swiper-button-prev life-style-button-prev position-static border border-gray-400 rounded-pill py-1 px-6"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
          />
        </svg>
      </div>
      <div class="swiper-button-line"></div>
      <div
        class="swiper-button-next life-style-button-next position-static border border-gray-400 rounded-pill py-1 px-6"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-arrow-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
          />
        </svg>
      </div>
    </div>
  </div>
  <!-- life style lg size swiper -->
  <%- include('./layout/index-life-style-swiper'); %>
  <!-- life style sm size cards -->
  <%- include('./layout/index-life-style-sm-content');%>
</section>
