<section class="container py-xl-16 py-13">
  <div class="row">
    <div class="col-lg-4 d-flex flex-column">
      <h2 class="mb-8 fs-4 fs-lg-2">精選文章</h2>
      <%- include('./layout/index-featured-articles-swiper-lg-pagination'); %>
    </div>
    <div class="col-lg-8">
      <%- include('./layout/index-featured-articles-swiper'); %>
    </div>
  </div>
</section>
