<section class="bg-primary-200">
  <div class="container pt-13 pb-9 pt-lg-17 pb-lg-16">
    <div class="row">
      <div class="col-lg-6 d-lg-flex align-items-center">
        <div class="text-center text-lg-start mb-9">
          <p class="fs-6 fw-bold lh-sm text-gray-400 mb-6 fs-lg-5 fw-lg-bolder">
            今天又不知道要去哪裡了嗎？
          </p>
          <h2 class="fs-4 fw-bold mb-8 fs-lg-2 fw-lg-bolder mb-lg-11">
            <span class="d-block d-lg-inline-block mb-2 mb-lg-0">Vivre</span>
            <span class="d-block d-lg-inline-block"
              >給你意想不到生活風格提案</span
            >
          </h2>
          <a href="#" class="btn btn-secondary-200 fs-lg-5" role="button"
            >馬上訂閱<i class="bi bi-arrow-right ms-4"></i
          ></a>
        </div>
      </div>
      <!-- lg size cards -->
      <div class="col-lg-6 d-none d-lg-block">
        <div class="row gy-12">
          <div class="col-6">
            <div
              class="card position-relative border-0 bg-image-center style-project-card mt-15"
              style="background-image: url(../assets/images/projects-1.png)"
            >
              <div class="card-left-top-tags">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-right-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                  />
                </svg>
                <span>人氣行程</span>
              </div>
              <a href="#" class="card-bottom-linear-link mt-auto"
                ><span>親子露營要帶什麼？</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="bi bi-arrow-right fs-4"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="col-6">
            <div
              class="card position-relative border-0 bg-image-center style-project-card"
              style="background-image: url(../assets/images/projects-2.png)"
            >
              <div class="card-left-top-tags">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-right-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                  />
                </svg>
                <span>編輯推薦</span>
              </div>
              <a href="#" class="card-bottom-linear-link mt-auto"
                ><span>質感房間改造攻略！</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="bi bi-arrow-right fs-4"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="col-6">
            <div
              class="card position-relative border-0 bg-image-center style-project-card"
              style="background-image: url(../assets/images/projects-3.png)"
            >
              <div class="card-left-top-tags">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-right-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                  />
                </svg>
                <span>編輯推薦</span>
              </div>
              <a href="#" class="card-bottom-linear-link mt-auto"
                ><span>山女孩的健行筆記</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="bi bi-arrow-right fs-4"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                  />
                </svg>
              </a>
            </div>
          </div>
          <div class="col-6">
            <div
              class="card position-relative border-0 bg-image-center style-project-card mt-neg-15"
              style="background-image: url(../assets/images/projects-4.png)"
            >
              <div class="card-left-top-tags">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-caret-right-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                  />
                </svg>
                <span>熱門文章</span>
              </div>
              <a href="#" class="card-bottom-linear-link mt-auto"
                ><span>適合溜小孩的海邊景點推薦</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="bi bi-arrow-right fs-4"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- sm size swiper -->
    <%- include('./layout/index-style-project-swiper'); %>
  </div>
</section>
