<div class="swiper sm-cards-swiper d-xl-none">
  <div class="swiper-wrapper py-8">
    <div class="swiper-slide">
      <div
        class="card border-0 h-100 rounded-3 shadow p-6 gap-6 bg-white shadow"
      >
        <div class="card-body p-0">
          <h3 class="h5 text-secondary-200 mb-4">酒精路跑地圖</h3>
          <ul class="d-grid gap-2 mb-6 line-list-style ps-6">
            <li>城市酒吧人氣榜,盤點當紅熱門酒吧</li>
            <li>你要的調酒師在這裡！五月全台酒...</li>
            <li>台南老宅手工酒藏,尋味百年人文釀意</li>
          </ul>
          <img
            src="../assets/images/hots-1-sm.png"
            alt="酒精路跑地圖"
            class="rounded-1 w-100 position-relative mb-6"
          />
          <div class="d-flex align-items-center gap-3 flex-wrap">
            <a href="#"
              ><span class="badge badge-primary-300">#夜貓專屬</span></a
            >
            <a href="#"
              ><span class="badge badge-primary-300">#barhopping</span></a
            >
            <a href="#"
              ><span class="badge badge-primary-300">#全台酒吧</span></a
            >
          </div>
        </div>

        <div class="card-footer bg-white border-0 p-0">
          <a
            href="#"
            role="button"
            class="btn btn-text p-0 py-3 d-block text-center"
          >
            View more<i class="bi bi-arrow-right ms-4"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div
        class="card border-0 h-100 rounded-3 shadow p-6 gap-6 bg-white shadow"
      >
        <div class="card-body p-0">
          <h3 class="h5 text-secondary-200 mb-4">台北拉麵圖鑑</h3>
          <ul class="d-grid gap-2 mb-6 line-list-style ps-6">
            <li>城市酒吧人氣榜,盤點當紅熱門酒吧</li>
            <li>你要的調酒師在這裡！五月全台酒...</li>
            <li>台南老宅手工酒藏,尋味百年人文釀意</li>
          </ul>
          <img
            src="../assets/images/hots-2-sm.png"
            alt="台北拉麵圖鑑"
            class="rounded-1 w-100 position-relative mb-6"
          />
          <div class="d-flex align-items-center gap-3 flex-wrap">
            <a href="#"><span class="badge badge-primary-300">#雞白湯</span></a>
            <a href="#"><span class="badge badge-primary-300">#拉麵</span></a>
            <a href="#"
              ><span class="badge badge-primary-300">#台北美食</span></a
            >
            <a href="#"
              ><span class="badge badge-primary-300">#台北美食</span></a
            >
          </div>
        </div>

        <div class="card-footer bg-white border-0 p-0">
          <a
            href="#"
            role="button"
            class="btn btn-text p-0 py-3 d-block text-center"
          >
            View more<i class="bi bi-arrow-right ms-4"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div
        class="card border-0 h-100 rounded-3 shadow p-6 gap-6 bg-white shadow"
      >
        <div class="card-body p-0">
          <h3 class="h5 text-secondary-200 mb-4">海島自由行</h3>
          <ul class="d-grid gap-2 mb-6 line-list-style ps-6">
            <li>私島慢活島嶼生活 - 在熱帶天堂品...</li>
            <li>海島漂流記 - 在陽光、沙灘和比基...</li>
            <li>島嶼蹤跡 - 揭開加勒比海上世外桃...</li>
          </ul>
          <img
            src="../assets/images/hots-3-sm.png"
            alt="海島自由行"
            class="rounded-1 w-100 position-relative mb-6"
          />
          <div class="d-flex align-items-center gap-3 flex-wrap">
            <a href="#"
              ><span class="badge badge-primary-300">#熱帶國家</span></a
            >
            <a href="#"><span class="badge badge-primary-300">#海邊</span></a>
            <a href="#"
              ><span class="badge badge-primary-300">#無敵海景</span></a
            >
          </div>
        </div>

        <div class="card-footer bg-white border-0 p-0 mt-auto">
          <a
            href="#"
            role="button"
            class="btn btn-text p-0 py-3 d-block text-center"
          >
            View more<i class="bi bi-arrow-right ms-4"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div
        class="card border-0 h-100 rounded-3 shadow p-6 gap-6 bg-white shadow"
      >
        <div class="card-body p-0">
          <h3 class="h5 text-secondary-200 mb-4">短天數出國推薦</h3>
          <ul class="d-grid gap-2 mb-6 line-list-style ps-6">
            <li>72小時東京遊走 - 當個時尚東京通</li>
            <li>48小時曼谷遊玩全攻略</li>
            <li>三天兩夜賞櫻微醺東京</li>
          </ul>
          <img
            src="../assets/images/hots-4-sm.png"
            alt="短天數出國推薦"
            class="rounded-1 w-100 position-relative mb-6"
          />
          <div class="d-flex align-items-center gap-3 flex-wrap">
            <a href="#"
              ><span class="badge badge-primary-300">#說走就走</span></a
            >
            <a href="#"><span class="badge badge-primary-300">#出國玩</span></a>
            <a href="#"><span class="badge badge-primary-300">#東亞</span></a>
          </div>
        </div>

        <div class="card-footer bg-white border-0 p-0 mt-auto">
          <a
            href="#"
            role="button"
            class="btn btn-text p-0 py-3 d-block text-center"
          >
            View more<i class="bi bi-arrow-right ms-4"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div
        class="card border-0 h-100 rounded-3 shadow p-6 gap-6 bg-white shadow"
      >
        <div class="card-body p-0">
          <h3 class="h5 text-secondary-200 mb-4">週末露營趣</h3>
          <ul class="d-grid gap-2 mb-6 line-list-style ps-6">
            <li>週末說走就走露營記</li>
            <li>城市野營日記</li>
            <li>和寵物去露營 - 大自然之旅的雙倍...</li>
          </ul>
          <img
            src="../assets/images/hots-5-sm.png"
            alt="週末露營趣"
            class="rounded-1 w-100 position-relative mb-6"
          />
          <div class="d-flex align-items-center gap-3 flex-wrap">
            <a href="#"><span class="badge badge-primary-300">#戶外</span></a>
            <a href="#"><span class="badge badge-primary-300">#露營控</span></a>
            <a href="#"><span class="badge badge-primary-300">#凹豆</span></a>
          </div>
        </div>

        <div class="card-footer bg-white border-0 p-0 mt-auto">
          <a
            href="#"
            role="button"
            class="btn btn-text p-0 py-3 d-block text-center"
          >
            View more<i class="bi bi-arrow-right ms-4"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
