<section class="bg-primary-200">
  <div
    class="container d-flex flex-column align-items-center position-relative py-xl-16 py-13 hito-content"
  >
    <h2 class="h6 fs-lg-4 mb-4 mb-lg-7 event-title">\ 母親節強檔活動 /</h2>
    <h3 class="h4 fs-lg-2 text-gary-500 mb-8 mb-lg-7">家庭訂閱方案限時 7 折</h3>
    <ul
      class="text-gray-400 list-unstyled subscribe-list d-grid gap-6 mb-8 mb-lg-12"
    >
      <li>每月最新文章無限閱讀</li>
      <li>專屬會員限定內容</li>
      <li>定期電子報</li>
      <li>年度精選禮物</li>
      <li>24 /7 優先客戶服務</li>
      <li>為每個成員量身打造專屬行程</li>
    </ul>
    <a href="#" class="btn btn-secondary-200 h6 fs-lg-5" role="button"
      >我想了解</a
    >
  </div>
</section>
