<div class="d-grid gap-8 d-lg-none">
  <div class="card h-100 border-0 gap-lg-11 gap-8">
    <h3 class="fs-lg-8 fs-1 fw-bolder text-primary-400">食.</h3>
    <img src="../assets/images/life-1-sm.png" alt="品味生活文章圖片 - 食" />
    <div class="card-body p-0">
      <ul
        class="d-grid gap-7 ps-6 fs-lg-5 fw-lg-bolder fs-6 fw-bold line-list-style"
      >
        <li>米其林三星主廚的那些絕活傳奇</li>
        <li>探秘成都的地道川味秘技與魅力</li>
        <li>義大利釀酒師對於酒的堅持執著</li>
      </ul>
    </div>
    <a
      href="#"
      role="button"
      class="btn btn-text p-0 py-3 d-block text-center fs-lg-5 fs-6"
    >
      View more<i class="bi bi-arrow-right ms-4"></i
    ></a>
  </div>

  <div class="card h-100 border-0 gap-lg-11 gap-8">
    <h3 class="fs-lg-8 fs-1 fw-bolder text-primary-400">藝.</h3>
    <img src="../assets/images/life-2-sm.png" alt="品味生活文章圖片 - 藝" />
    <div class="card-body p-0">
      <ul
        class="d-grid gap-7 ps-6 fs-lg-5 fw-lg-bolder fs-6 fw-bold line-list-style"
      >
        <li>解構教主級時裝設計大師的獨特美學</li>
        <li>當代攝影師鏡頭中的光影離奇</li>
        <li>帶你穿縮中世紀，夏季文藝復興展</li>
      </ul>
    </div>
    <a
      href="#"
      role="button"
      class="btn btn-text p-0 py-3 d-block text-center fs-lg-5 fs-6"
    >
      View more<i class="bi bi-arrow-right ms-4"></i
    ></a>
  </div>
  <div class="card h-100 border-0 gap-lg-11 gap-8">
    <h3 class="fs-lg-8 fs-1 fw-bolder text-primary-400">旅.</h3>
    <img src="../assets/images/life-3-sm.png" alt="品味生活文章圖片 - 旅" />
    <div class="card-body p-0">
      <ul
        class="d-grid gap-7 ps-6 fs-lg-5 fw-lg-bolder fs-6 fw-bold line-list-style"
      >
        <li>遠離喧囂,偶探巴塔哥尼亞終界</li>
        <li>東京深度六區,帶你細品極簡魅力</li>
        <li>專賣奇珍異寶的東歐地下夜市</li>
      </ul>
    </div>
    <a
      href="#"
      role="button"
      class="btn btn-text p-0 py-3 d-block text-center fs-lg-5 fs-6"
    >
      View more<i class="bi bi-arrow-right ms-4"></i
    ></a>
  </div>
</div>
