<h1>
  <a class="navbar-brand d-block" href="#">
    <picture>
      <source media="(min-width: 992px)" srcset="../assets/images/logo.svg" />
      <img src="../assets/images/logo-sm.svg" alt="Vivre" />
    </picture>
  </a>
</h1>
