<!-- slide 1 一般文章 -->
<div class="swiper-slide h-auto">
  <div
    class="card h-100 border-0 border-bottom border-gray-500 rounded-0 article-card"
  >
    <picture>
      <source
        media="(min-width: 992px)"
        srcset="../assets/images/articles-1.png"
      />
      <img
        src="../assets/images/articles-1-sm.png"
        alt=""
        class="card-img-top mb-8 position-relative"
      />
    </picture>
    <div class="card-body p-0">
      <h5 class="card-title text-gray-500 mb-2">私人島嶼的露營奇遇記</h5>
      <p class="card-text mb-8">
        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
      </p>
    </div>
    <a
      href="#"
      role="button"
      class="btn btn-text w-100 text-start p-0 py-2 mb-8 mt-auto"
      >Read More</a
    >
  </div>
</div>
<!-- slide 2 會員專屬 -->
<div class="swiper-slide h-auto">
  <div
    class="card h-100 border-0 border-bottom border-gray-500 rounded-0 article-card"
  >
    <picture>
      <source
        media="(min-width: 992px)"
        srcset="../assets/images/articles-2.png"
      />
      <img
        src="../assets/images/articles-2-sm.png"
        alt=""
        class="card-img-top mb-8 position-relative"
      />
    </picture>
    <div class="card-body p-0">
      <h5 class="card-title text-gray-500 mb-2">
        窺探米其林三星主廚的絕密手藝
      </h5>
      <p class="card-text mb-8">
        在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
      </p>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-8 mt-auto">
      <a href="#" role="button" class="btn btn-text p-0 py-2">Read More</a>
      <span class="badge badge-primary-300 fs-6">會員專屬</span>
    </div>
  </div>
</div>
<!-- slide 3 -->
<div class="swiper-slide h-auto">
  <div
    class="card h-100 border-0 border-bottom border-gray-500 rounded-0 article-card"
  >
    <picture>
      <source
        media="(min-width: 992px)"
        srcset="../assets/images/articles-1.png"
      />
      <img
        src="../assets/images/articles-1-sm.png"
        alt=""
        class="card-img-top mb-8 position-relative"
      />
    </picture>
    <div class="card-body p-0">
      <h5 class="card-title text-gray-500 mb-2">私人島嶼的露營奇遇記</h5>
      <p class="card-text mb-8">
        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
      </p>
    </div>
    <a
      href="#"
      role="button"
      class="btn btn-text w-100 text-start p-0 py-2 mb-8 mt-auto"
      >Read More</a
    >
  </div>
</div>
<!-- slide 4 -->
<div class="swiper-slide h-auto">
  <div
    class="card h-100 border-0 border-bottom border-gray-500 rounded-0 article-card"
  >
    <picture>
      <source
        media="(min-width: 992px)"
        srcset="../assets/images/articles-1.png"
      />
      <img
        src="../assets/images/articles-1-sm.png"
        alt=""
        class="card-img-top mb-8 position-relative"
      />
    </picture>
    <div class="card-body p-0">
      <h5 class="card-title text-gray-500 mb-2">私人島嶼的露營奇遇記</h5>
      <p class="card-text mb-8">
        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
      </p>
    </div>
    <a
      href="#"
      role="button"
      class="btn btn-text w-100 text-start p-0 py-2 mb-8 mt-auto"
      >Read More</a
    >
  </div>
</div>
<!-- slide 5 -->
<div class="swiper-slide h-auto">
  <div
    class="card h-100 border-0 border-bottom border-gray-500 rounded-0 article-card"
  >
    <picture>
      <source
        media="(min-width: 992px)"
        srcset="../assets/images/articles-1.png"
      />
      <img
        src="../assets/images/articles-1-sm.png"
        alt=""
        class="card-img-top mb-8 position-relative"
      />
    </picture>
    <div class="card-body p-0">
      <h5 class="card-title text-gray-500 mb-2">私人島嶼的露營奇遇記</h5>
      <p class="card-text mb-8">
        遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
      </p>
    </div>
    <a
      href="#"
      role="button"
      class="btn btn-text w-100 text-start p-0 py-2 mb-8 mt-auto"
      >Read More</a
    >
  </div>
</div>
