.list-group {
  --bs-list-group-color: #{$neutral-600};
}

.list-group-item {
  --custom-list-border-radius: #{$border-radius};
  --bs-list-group-action-hover-color: #{$accent-200};
  border-radius: var(--custom-list-border-radius);
}

// 設定第一個、最後一個 item 四角 border-radius
.list-group-item:first-child,
.list-group-item:last-child {
  border-top-left-radius: var(--custom-list-border-radius);
  border-top-right-radius: var(--custom-list-border-radius);
  border-bottom-right-radius: var(--custom-list-border-radius);
  border-bottom-left-radius: var(--custom-list-border-radius);
}

.list-group-item::before {
  content: "．";
}

.small-dot-list-style {
  padding-left: 1rem;
  li::marker {
    content: "．";
  }
}
