<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include('./layout/head'); %>
  <body>
    <%- include('./layout/header'); %>

    <main>
      <!-- banner -->
      <%- include('./layout/index-banner'); %>
      <!-- 熱門主題 -->
      <%- include('./layout/index-popular-theme'); %>
      <!-- 精選文章 -->
      <%- include('./layout/index-featured-articles'); %>
      <!-- 活動內容 -->
      <%- include('./layout/index-sales-campaign'); %>
      <!-- 大家都在看 -->
      <%- include('./layout/index-popular-articles'); %>
      <!-- 品味生活 -->
      <%- include('./layout/index-life-style'); %>
      <!-- 生活提案 -->
      <%- include('./layout/index-style-projects'); %>
      <!-- 聯絡我們 -->
      <%- include('./layout/index-contact'); %>
    </main>
    <%- include('./layout/footer'); %>

    <script type="module" src="../main.js"></script>
  </body>
</html>
