<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include('./layout/head'); %>

  <body>
    <!-- header -->
    <%- include('./layout/header'); %>

    <main class="container py-14 py-lg-18">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 gx-0 gx-sm-8 debug">
          <div
            class="d-grid p-8 p-12 gap-8 gap-lg-12 bg-white border-top border-bottom border-primary-300 border-sm-primary-300 rounded-0 rounded-sm-3"
          >
            <h2 class="h4 text-secondary-200">註冊</h2>
            <form class="bg-white pe-5">
              <div class="mb-6">
                <label for="inputAccount" class="form-label h6 fw-bold mb-2"
                  >會員帳號</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputAccount"
                  placeholder="請輸入會員帳號"
                />
              </div>
              <div class="mb-6">
                <label for="inputPassword" class="form-label h6 fw-bold mb-2"
                  >密碼</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword"
                  placeholder="請輸入密碼"
                />
              </div>
              <div class="mb-8 mb-lg-12">
                <label for="inputEmail" class="form-label h6 fw-bold mb-2"
                  >電子信箱</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="inputEmail"
                  placeholder="請輸入電子信箱"
                />
              </div>
              <button type="submit" class="btn btn-secondary-200 w-100">
                立即註冊<i class="bi bi-arrow-right ms-4"></i>
              </button>
            </form>
            <div class="d-flex align-items-center gap-4">
              <div class="line"></div>
              <span class="text-gray-300">或以其他方式註冊</span>
              <div class="line"></div>
            </div>
            <div class="pe-5">
              <button type="button" class="btn btn-gray-100 w-100 mb-2">
                <img
                  src="../assets/images/icons-google.png"
                  alt="google icon"
                  class="align-bottom me-4"
                />使用 Google 註冊
              </button>
              <button type="button" class="btn btn-gray-100 w-100">
                <img
                  src="../assets/images/icons-facebook.png"
                  alt="facebook icon"
                  class="align-bottom me-4"
                />使用 Facebook 註冊
              </button>
            </div>
            <p class="text-center">
              <span>已經是會員了？</span>
              <a href="#" class="btn-text ms-4 px-0">點此登入</a>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <%- include('./layout/footer'); %>
    <script type="module" src="../main.js"></script>
  </body>
</html>
